name: Build Wheels

on:
  release:
    types: [published]

jobs:
  build-wheels:
    name: Build wheels (${{ matrix.platform.os }} ${{ matrix.platform.arch }} ${{ matrix.python.version }})
    runs-on: ${{ matrix.platform.os }}

    strategy:
      fail-fast: true
      matrix:
        python:
          - { version: cp311, setup_version: '3.11'}
          - { version: cp312, setup_version: '3.12'}
          - { version: cp313, setup_version: '3.13'}
          - { version: cp314, setup_version: '3.14'}
        platform:
          - { os: ubuntu-24.04,     arch: x86_64,     cibw_system: manylinux }
          - { os: ubuntu-24.04-arm, arch: aarch64,    cibw_system: manylinux }
          - { os: macos-15,         arch: arm64,      cibw_system: macosx }

    # Optional: all jobs should pass
    continue-on-error: true

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Checkout quickfix code
        uses: actions/checkout@v4
        with:
          repository: pablodcar/quickfix
          ref: master
          path: quickfix

      - name: workaround for setup-python # setup-python expects a requirments.txt
        run: |
          touch requirements.txt

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python.setup_version }}
          cache: pip

      - name: Upgrade pip & build tools
        run: |
          python -m pip install --upgrade pip
          python -m pip install build setuptools wheel cibuildwheel

      # github actions already includes all dependencies

      - name: Build wheel
        run: |
          ./build.sh
        env:
          TARGET_OS: ${{ runner.os }}
          CIBW_ARCHS: ${{ matrix.platform.arch == 'amd64' && 'AMD64' || matrix.platform.arch }}
          CIBW_BUILD: ${{ matrix.python.version }}-${{ matrix.platform.cibw_system }}_${{ matrix.platform.arch }}
          CIBW_TEST_COMMAND: >
            python -c "import quickfix"
          MACOSX_DEPLOYMENT_TARGET: 15.0
          CIBW_BEFORE_ALL_LINUX: >
            ./setup-linux-yum.sh

      - uses: actions/upload-artifact@v4
        name: Upload wheels
        with:
          name: wheel-${{ matrix.python.version }}-${{ matrix.platform.cibw_system }}_${{ matrix.platform.arch }}
          path: wheelhouse/*.whl

  make_sdist:
    name: Make sdist
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0  # Optional, use if you use setuptools_scm
        submodules: true  # Optional, use if you have submodules

    - name: Build sdist
      run: pipx run build --sdist --outdir dist quickfix-py

    - name: Upload sdist
      uses: actions/upload-artifact@v4
      with:
        name: cibw-sdist
        path: dist/*.tar.gz

  publish:
    name: Publish to PyPI
    runs-on: ubuntu-latest
    needs: [build-wheels, make_sdist]

    permissions:
      id-token: write
      contents: read

    steps:
      - name: Download distribution fiels
        uses: actions/download-artifact@v4
        with:
          path: dist
          merge-multiple: true

      - name: Publish to PyPI
        uses: pypa/gh-action-pypi-publish@v1.8.14
