name: Publish Wheels

on:
  release:
    types: [published]
  workflow_dispatch:

jobs:
  publish:
    name: Publish to PyPI
    runs-on: ubuntu-latest

    permissions:
      id-token: write
      contents: read

    steps:
      - name: Download distribution fiels
        uses: actions/download-artifact@v4
        with:
          pattern: '{cibw,wheel}*'
          path: dist
          merge-multiple: true

      - name: Publish to PyPI
        uses: pypa/gh-action-pypi-publish@v1.8.14